body {
	width:90%;
	position:relative;
	background-color: #5bc2d6;
	margin:25px;
	font-family: 'Source Sans Pro', sans-serif;
}

strong {
	font-weight: 400;
}

.homelink {
	color:#ff7969;
	font-size: 45px;
	text-decoration: none;
}

.homelink:hover {
	color:#ffc9c3;
}

.infolink {
	color:#ff7969;
	font-size: 15px;
	text-decoration: none;
}

.infolink:hover {
	color:#ffc9c3;
}

h2 {
	color:white;
	font-size: 45px;
}

h3 {
	color:white;
	font-size: 25px;
}

p {
	color:white;
	font-size: 15px;
	font-weight: 300;
}

.button {
	background: #ffbdb6;
  	background-image: -webkit-linear-gradient(top, #ffbdb6, #ff9083);
  	background-image: -moz-linear-gradient(top, #ffbdb6, #ff9083);
  	background-image: -ms-linear-gradient(top, #ffbdb6, #ff9083);
  	background-image: -o-linear-gradient(top, #ffbdb6, #ff9083);
  	background-image: linear-gradient(to bottom, #ffbdb6, #ff9083);
	font-weight:700;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
  	border: 1px solid #ffbdb6;
}

.button:hover {
	background: #cc6054;
  	background-image: -webkit-linear-gradient(top, #cc6054, #99483f);
  	background-image: -moz-linear-gradient(top, #cc6054, #99483f);
  	background-image: -ms-linear-gradient(top, #cc6054, #99483f);
  	background-image: -o-linear-gradient(top, #cc6054, #99483f);
  	background-image: linear-gradient(to bottom, #cc6054, #99483f);
  	text-decoration: none;
}
.button:active {
	position:relative;
	top:1px;
}

#smallerheading {
	color: white;
	font-size: 25px;
	font-weight: 400;
}

#biggerheading {
	color:white;
	font-size: 35px;
	font-weight:700;
}

.highlight {
	color:#ff7969;
}
