<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/submit.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<h2>Whoops!</h2>
	<h3> That city isn't part of the project yet. Maybe soon!</h3>
	<p><em>Try again with one of the following:</em></p>
	<strong><a href="/boston" class="citylink">Boston</a><br>
	<a href="/philly" class="citylink">Philadelphia</a><br>
	<a href="/baltimore" class="citylink">Baltimore</a></strong><br><br><br>
	<p>This project is an iteration of a geographic emotional tracker that aims to map the sentiments of passengers along various bus, train, and plane routes across the United States and the world. It was created by <a class="infolink" href="http://rouxpz.com">Roopa Vasudevan</a>.</p>
	<p>A companion map-based visualization of collected sentiments will soon be accessible from this site, and will be exhibited as part of <a class="infolink" href="">Fung Wah Biennial</a>, a 2016 Major Exhibition at <a class="infolink" href="http://fluxfactory.org">Flux Factory</a>.
</body>
</html>