<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/submit.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

	<span id="smallerheading">Hello! Welcome to </span>
	<br><span id="biggerheading">eMOTION Mapping.</span>
	<br><br>
	<h3>Welcome to the {{location}} leg of Fung Wah Biennial.</h3>
	<p>eMOTION Mapping is a project designed to externalize human emotion -- normally a very personal, intimate and internal experience -- during the act of travel.</p>
	<p>To begin, click the button below... <strong><span class="highlight">and make sure to approve the browser's request to access your location.</span></strong> (Don't worry, nothing besides your current coordinates will be recorded.)</p>
	<br><br>
	<a href="/submit"><button class="button">Ready? Let's begin.</button></a>
</body>
</html>