<!DOCTYPE html>
<head>
	<title>eMOTION Mapping</title>
	<link rel="stylesheet" href="static/js/leaflet/leaflet.css" />
	<link rel="stylesheet" href="static/css/styles.css" />
	<script src="static/js/leaflet/leaflet.js"></script>
	<script src="static/js/jquery-2.2.0.min.js"></script>
<!-- 	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:700,400' rel='stylesheet' type='text/css'> -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

	<script>
		var totalEmotions = [];

	</script>

	{% for d in mapData %}
		<script>

			var lat = parseFloat("{{d.latitude}}");
			var lon = parseFloat("{{d.longitude}}");
			var hexcode = "{{d.hexcode}}";
			var feeling = "{{d.feeling}}";

			totalEmotions.push([feeling, lat, lon, hexcode]);
		</script>
	{% endfor %}

	<div id="map"></div>
	<div class="pagecontent">
		<div id="heading">eMOTION Mapping</div>
		<div id="instructions">
			<p>Explore the emotional states of passengers on travel routes across the East Coast of the US.</p>
			<p>Click the markers on the map to see submitted emotions and states of mind over the course of each journey.</p>
		</div>

		<a href="http://rouxpz.com">
			<div id = "credits">
				a project by <span id="name"><strong>roopa vasudevan</strong></span>.
			</div>
		</a>
	</div>
	<script src="static/js/display.js"></script>

</body>