<!DOCTYPE html>
<head>
	<title>eMOTION Mapping</title>
	<link rel="stylesheet" href="static/js/leaflet/leaflet.css" />
	<link rel="stylesheet" href="static/css/styles.css" />
	<script src="static/js/leaflet/leaflet.js"></script>
	<script src="static/js/jquery-2.2.0.min.js"></script>
<!-- 	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:700,400' rel='stylesheet' type='text/css'> -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

	<script>
		var totalEmotions = [];

	</script>

	{% for d in mapData %}
		<script>

			var lat = parseFloat("{{d.latitude}}");
			var lon = parseFloat("{{d.longitude}}");
			var hexcode = "{{d.hexcode}}";
			var feeling = "{{d.feeling}}";
			var trip;

			if ("{{d.timestamp.day}}" === "5") {
				if ({{d.timestamp.hour}} >= 9 && {{d.timestamp.hour}} <= 14) {
					trip  = "nycbos";
				} else {
					trip = 'bosnyc';
				}
			} else if ("{{d.timestamp.day}}" === "12" || "{{d.timestamp.day}}" === "13") {
				if ({{d.timestamp.hour}} >= 9 && {{d.timestamp.hour}} <= 13) {
					trip = 'nycphl';
				} else {
					trip = 'phlnyc';
				}
			} else if ("{{d.timestamp.day}}" === "19") {
				if ({{d.timestamp.hour}} >= 9 && {{d.timestamp.hour}} <= 14) {
					trip = 'nycblt';
				} else {
					trip = 'bltnyc';
				}
			}

			totalEmotions.push([feeling, lat, lon, hexcode, trip]);
		</script>
	{% endfor %}

	<div id="map"></div>
	<div class="pagecontent">
		<div id="heading">eMOTION Mapping</div>
		<div id="instructions">
			<p>Explore the emotional states of passengers on travel routes across the East Coast of the US.</p>
			<p>Click the markers on the map to see submitted emotions and states of mind over the course of each journey.</p>
		</div>
		<div id="selection">
			<strong>Filter By Trip</strong><br>
			<a href="javascript:void(0)" onclick="showHide('nycbos')" class="filtering">NYC <-> Boston</a><br>
			<a href="javascript:void(0)" onclick="showHide('bosnyc')" class="filtering">Boston <-> NYC</a><br>
			<a href="javascript:void(0)" onclick="showHide('nycphl')" class="filtering">NYC <-> Philadelphia</a><br>
			<a href="javascript:void(0)" onclick="showHide('phlnyc')" class="filtering">Philadelphia <-> NYC</a><br>
			<a href="javascript:void(0)" onclick="showHide('nycblt')" class="filtering">NYC <-> Baltimore</a><br>
			<a href="javascript:void(0)" onclick="showHide('bltnyc')" class="filtering">Baltimore <-> NYC</a><br>
			<a href="javascript:void(0)" onclick="showAll()" class="filtering">Display all trips</a>
		</div>

		<a href="http://rouxpz.com">
			<div id = "credits">
				a project by <span id="name"><strong>roopa vasudevan</strong></span>.
			</div>
		</a>
	</div>
	<script src="static/js/display.js"></script>

</body>