<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/submit.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<h2>Thank you for sharing.</h2>
	<h3>Feel free to <br>
	<a class="homelink" href="/submit">share your feelings again</a><br>
	as we move through the rest of this journey.</h3>
	<br><br><br>
	<p class="small">This project is an iteration of a geographic emotional tracker that aims to map the sentiments of passengers along various bus, train, and plane routes across the United States and the world. It was created by <a class="infolink" href="http://rouxpz.com">Roopa Vasudevan</a>.</p>
	<p class="small">A companion map-based visualization of collected sentiments will soon be accessible from this site, and will be exhibited as part of <a class="infolink" href="">Fung Wah Biennial</a>, a 2016 Major Exhibition at <a class="infolink" href="http://fluxfactory.org">Flux Factory</a>.
</body>
</html>