<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/submit.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<h2>Thank you for sharing.</h2>
	<h3>Feel free to <a class="homelink" href="/submit">share your feelings again</a> as we move through the rest of this journey.</h3>
	<br><br><br><br>
	<p>This project is the very first iteration of a geographic emotional tracker that will eventually map the sentiments of passengers along various bus, train, and plane routes across the United States and the world. It was created by <a class="infolink" href="http://rouxpz.com">Roopa Vasudevan</a>, a member of the <a class="infolink" href="http://fluxfactory.org">Flux Factory</a> artist community based in Queens, NY.</p>
</body>
</html>